<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TargetPlatform>x64</TargetPlatform>
    <TargetFrameworkVersion>net472</TargetFrameworkVersion>
  </RunConfiguration>
  <TestAdapterPaths>
    <Path>C:\Users\admin\.nuget\packages\xunit.runner.visualstudio\2.4.5\build</Path>
  </TestAdapterPaths>
</RunSettings>
